{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endif %}
{% extends 'base.html' %}

{% block style %}
<style>
    a {
        color: blue;
    }
</style>
{% endblock  %}

{% block content %}
<h2>Login</h2>
<form method="POST">
    {% csrf_token %}
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>

<a href="{% url 'fav_movies:register' %}">Register</a>
{% endblock  %}