{% extends 'base.html' %}


{% block content %}

<p><form method="GET" action="{% url 'movie_search' %}">
    <input type="text" placeholder="Search Movies Here" name="query" required>
    <button type="submit">Search</button>
</form>
</p>
<p>
    <a href="{% url 'finished' %}" >Your finished booked shows.</a>
</p>

<h3>
    Your Reservations are:
</h3>

<ul>
    {% for reservation in reservations %}
        {% if reservation.showtime.is_active %}
            <li>
                <p>Movie: {{ reservation.showtime.movie.title }} Showtime: {{ reservation.showtime.date }} - {{ reservation.showtime.time }} Seat No.: {{ reservation.seat_number }}</p>
                <form action="{% url 'cancel_reservation' reservation.id %}">
                    {% csrf_token %}
                    <button type="submit">Cancel Reservation</button>
                </form>
            </li>
        {% endif %}
    {% empty %}
        <li>No reservations found.</li>
    {% endfor %}
</ul>

{% endblock %}