<style>
    a {
        color: blue;
    }
</style>

<div>
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.description }}</p>
    <p>Genre: {{ movie.genre }}</p>
    <p>Duration: {{ movie.duration }} minutes</p>
    <h3>Showtimes:</h3>
    <ul>
    {% for showtime in showtimes %}
        {% if showtime.is_active %}
            <li><a href="{% url 'fav_movies:reserve_seat' showtime.id %}">{{ showtime.date }} - {{ showtime.time }}</a></li>
        {% endif %}
    {% empty %}
        <li>No showtimes available.</li>
    {% endfor %}
    </ul>
</div>
