{% extends 'base.html' %}

{% block style %}
.seating-diagram {
    display: grid;
    grid-template-columns: repeat(25, 1fr);  /* Adjust the number of columns as needed */
    grid-gap: 10px;
}
.seat {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}
.seat.selected {
    background-color: #0f0;  /* Color for selected seats */
}
.seat.reserved {
    background-color: grey;  /* Color for reserved seats */
    cursor: not-allowed;
}
.seat.reserved.logged-in-user {
  background-color: #00f;  /* Color for reserved seats of the logged-in user */
}
{% endblock  %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <p><strong>{{ message }}</strong></p>
    {% endfor %}
{% endif %}


{% if showtime.active %}
<p><h2>Reserve Seat for {{ showtime.movie.title }} - {{ showtime.date }} {{ showtime.time }}</h2></p>
<p><center><h2>Seating Arrangement</h2></center></p>
<form method="POST" action="{% url 'reserve_seat' showtime.id %}">
    {% csrf_token %}
    <div class="seating-diagram">
        {% for seat in seats %}            
          <button type="button" class="seat {% if seat in seat_numbers %}reserved {% if seat in user_seats %}logged-in-user{% endif %}{% endif %}" {% if seat in seat_numbers %} disabled {% endif %} onclick="selectSeat(this, {{ seat }})">{{ seat }}</button>
          <input type="hidden" name="seat_number" id="seat_number_{{ seat }}" value="">
      
        {% endfor %}
    </div>

    <h3>Blue seats are your reserved seats while Grey seats are reserved by other users.</h3>
    <button type="submit">Reserve Selected Seats</button>
</form>

{% else %}
<p>The showtime has passed.</p>
{% endif %}

<script>
    var selectedSeats = [];
  
    function selectSeat(seatButton, seatNumber) {
      seatButton.classList.toggle('selected');
      var seatInput = document.getElementById('seat_number_' + seatNumber);
  
      if (seatButton.classList.contains('selected')) {
        selectedSeats.push(seatNumber);
        seatInput.value = seatNumber;
      } else {
        var index = selectedSeats.indexOf(seatNumber);
        if (index > -1) {
          selectedSeats.splice(index, 1);
        }
        seatInput.value = '';
      }
    }
  </script>

  {% endblock  %}