{% extends 'base.html' %}

{% block content %}

<div>
    <br>
    <h2>Showtimes</h2>
    <h3>Click on any showtime to book your seat.</h3>
    <ul>
        {% for showtime in page_obj %}
            {% if showtime.is_active %}
                <li>
                    <a href="{% url 'fav_movies:reserve_seat' showtime.id %}" style="color : blue">
                        {{ showtime.movie.title }} - {{ showtime.date }} {{ showtime.time }}
                    </a>
                </li>        
            {% endif %}
        {% empty %}
            <li>Coming soon.</li>
        {% endfor %}
    </ul>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock  %}